body{
  margin: 0;
  padding: 0;
}
/*.root{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}*/
.types{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.types .col-xl-2{
  justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
}
.types .typeItem{
  margin: 10px 10px;
  width: 90px;
  height: 90px;
  border-radius: 10px; 
  background: gray;
}
.types .typeItem input{
  display: none;
  position: absolute;
  opacity: 0;
}
.types .typeItem div{
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 0;
  transition: .3s;
}
.types .typeItem label{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
  padding-top: 40px;
  height: 90px;
  font-family: arial;
  width: inherit;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.types .typeItem label::after{
  content: '';
  width: 7px;
  height: 7px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.types .typeItem > input[type="radio"]:checked ~ div{
  border-color: rgb(93, 120, 255);
}
/*.types .typeItem > input[type="radio"]:checked ~ div label::after{
  background: rgb(93, 120, 255);
}*/
.types .typeItem > input[type="radio"]:checked ~ div label{
  color: rgb(93, 120, 255);
}